.App {
  text-align: center;
}

.myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButtonred {
	box-shadow:inset 0px -3px 7px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButtonred:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.myButtonred:active {
	position:relative;
	top:1px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* Checkmark */
.checkmark-circle {
	width: 150px;
	height: 150px;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
  }
  .checkmark-circle .background {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: #00C09D;
	position: absolute;
  }
  .checkmark-circle .checkmark {
	border-radius: 5px;
  }
  .checkmark-circle .checkmark.draw:after {
	-webkit-animation-delay: 100ms;
	-moz-animation-delay: 100ms;
	animation-delay: 100ms;
	-webkit-animation-duration: 3s;
	-moz-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-timing-function: ease;
	-moz-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-name: checkmark;
	-moz-animation-name: checkmark;
	animation-name: checkmark;
	-webkit-transform: scaleX(-1) rotate(135deg);
	-moz-transform: scaleX(-1) rotate(135deg);
	-ms-transform: scaleX(-1) rotate(135deg);
	-o-transform: scaleX(-1) rotate(135deg);
	transform: scaleX(-1) rotate(135deg);
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
  }
  .checkmark-circle .checkmark:after {
	opacity: 1;
	height: 75px;
	width: 37.5px;
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
	border-right: 15px solid white;
	border-top: 15px solid white;
	border-radius: 2.5px !important;
	content: '';
	left: 25px;
	top: 75px;
	position: absolute;
  }
  
  @-webkit-keyframes checkmark {
	0% {
	  height: 0;
	  width: 0;
	  opacity: 1;
	}
	20% {
	  height: 0;
	  width: 37.5px;
	  opacity: 1;
	}
	40% {
	  height: 75px;
	  width: 37.5px;
	  opacity: 1;
	}
	100% {
	  height: 75px;
	  width: 37.5px;
	  opacity: 1;
	}
  }
  @-moz-keyframes checkmark {
	0% {
	  height: 0;
	  width: 0;
	  opacity: 1;
	}
	20% {
	  height: 0;
	  width: 37.5px;
	  opacity: 1;
	}
	40% {
	  height: 75px;
	  width: 37.5px;
	  opacity: 1;
	}
	100% {
	  height: 75px;
	  width: 37.5px;
	  opacity: 1;
	}
  }
  @keyframes checkmark {
	0% {
	  height: 0;
	  width: 0;
	  opacity: 1;
	}
	20% {
	  height: 0;
	  width: 37.5px;
	  opacity: 1;
	}
	40% {
	  height: 75px;
	  width: 37.5px;
	  opacity: 1;
	}
	100% {
	  height: 75px;
	  width: 37.5px;
	  opacity: 1;
	}
  }